@import './../../../theme/utilities/variables.scss';

.item {
    display: grid;
    grid-template-areas: "cover caption location";
    padding: 32px;  
    position: relative;  

    &:after {
        content: '';
        position: absolute;
        width: 95.6%;
        height: 1px;
        background: $steel;
        top: 100%;
        left: 26px;
    }

    &:last-child {
        &:after {
            background: none;
        }
    }

    &__thumbnail {
        grid-area: cover;

        &_image {
            border-radius: 4px;
            height: 180px;
            width: 180px;
        }
    }

    &__caption {
        align-items: flex-start;
        display: flex;
        grid-area: caption;
        flex-direction: column;
        justify-content: flex-start;
        
        &_price {
            font-size: 24px;
            margin-bottom: 22px;
        }

        &_title {
            color: $plate;
            font-size: 18px;
            font-weight: 400;
        }

        &_reference {
            color: $plate;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__location {
        grid-area: location;

        &_origin {
            color: $gray;
        }
    }
}