@import './utilities/reset.scss';
@import './utilities/variables.scss';

html {
  font-family: $lato;
}

body {
  background-color: $steel;
  color: $dark;
  font-size: 14px;
  line-height: 1.42857143;
  overflow-x: hidden !important
}

* {
  outline: none !important;
  text-decoration: none;
}

input {
  background-color: $white;
}

img {
  vertical-align: middle;
}

main {
  padding-bottom: 60px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}